<mat-spinner *ngIf="!receivedData"></mat-spinner>
<div *ngIf="receivedData" class="editForm form" [formGroup]="editForm">
  <mat-card>
    <div class="edit">
      <button mat-icon-button class="icons" (click)="toggleAllFields()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Content</mat-label>
        <textarea matInput rows="5" cols="100" formControlName="content"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Categories</mat-label>
        <input *ngIf="editForm.disabled" matInput formControlName="categories">
        <mat-select *ngIf="editForm.enabled" formControlName="categories" multiple>
          @for (category of categoryList; track $index) {
            <mat-option [value]="category"> {{category}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Priority</mat-label>
        <input *ngIf="editForm.disabled" matInput formControlName="priority">
        <mat-select *ngIf="editForm.enabled" formControlName="priority" value="{{receivedData.priority}}">
          <mat-option *ngFor="let priority of priorityList" value="{{priority}}">{{priority}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <input *ngIf="editForm.disabled" matInput formControlName="status">
        <mat-select *ngIf="editForm.enabled" formControlName="status" value="{{receivedData.status}}">
          <mat-option *ngFor="let status of statusList" value="{{status}}">{{status}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Owner</mat-label>
        <input matInput formControlName="owner">
        <button mat-icon-button *ngIf="editMode" (click)="changeOwnerDialog()">
          <mat-icon matSuffix>mode_edit</mat-icon>
        </button>
      </mat-form-field>
      <div>
        <mat-label>Included Users
          <button *ngIf="editMode" mat-icon-button (click)="openDialog()">
            <mat-icon>add</mat-icon>
          </button>
        </mat-label>
        <mat-chip-listbox>
          <mat-chip (removed)="remove(user)" *ngFor="let user of receivedData.includedUsers">
            {{user.firstname}} {{user.lastname}}
            <button matChipRemove [attr.aria-label]="'remove ' + user">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
        </mat-chip-listbox>
      </div>

      <div class="formButtons">
        <button mat-raised-button color="primary" (click)="updateTicket()" [disabled]="editForm.disabled || !editForm.dirty">Save</button>
        <button mat-raised-button color="grey" (click)="cancel()" [disabled]="editForm.disabled">Cancel</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>
