<mat-selection-list [(ngModel)]="selectedUsers">
  @for (item of data.allUsers; track $index) {
    @if (checkUserIsPresentInIncludedUsers(item)) {
      <mat-list-option [value]="item" selected="true">{{item.firstname}} {{item.lastname}}</mat-list-option>
    } @else {
      <mat-list-option [value]="item">{{item.firstname}} {{item.lastname}}</mat-list-option>
    }
  }
</mat-selection-list>

<button mat-raised-button color="primary" (click)="submit()">Select</button>
<button mat-raised-button mat-dialog-close color="grey">Cancel</button>
