.comments {
  width: 50em;
  height: 40em;
}

.commentContent  {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.comment {
  padding: 2em;
  margin: 1.5em;
  font-weight: 400;
  vertical-align: middle;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 2px grey;
  border: 1px solid transparent;
  text-decoration: none;
}

.user {
  font-style: italic;
  font-size: smaller;
}

.commentIcon {
  transform: scale(0.8);
  float: right;
}

.timstamp {
  color: lightslategrey;
  font-size: smaller;
}

.title {
  font-weight: bold;
}

.ngxEditor.submit {
  position: fixed;
  float: right;
  height: 100%;
}

.ngxEditorEdit {
  position: absolute;
  width: 85%;
  bottom: 0;
  display: block;
}

@media (min-width: 900px){
  .comments {
    width: 35em;
    height: 30em;
  }

  .comment {
    padding: 0.7em;
    margin: 0.7em;
  }

  .commentContent  {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
