<mat-accordion multi>
    <mat-expansion-panel *ngFor="let item of ticketsList" [ngStyle]="changeColor(item)">
      <mat-expansion-panel-header>
        <mat-panel-title [ngStyle]="changeTitleByPriority(item)">
          {{item?.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{item?.categories}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item role="listitem">Owner: {{item?.owner?.firstname}} {{item?.owner?.lastname}}</mat-list-item>
        <mat-list-item role="listitem">Status: {{item?.status}}</mat-list-item>
        <mat-list-item *ngIf="item?.priority" role="listitem">Priority: {{item?.priority}}</mat-list-item>
        <mat-list-item>
          <button mat-icon-button class="icons" (click)="editTicket(item)">
            <mat-icon>edit</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
</mat-accordion>
