<mat-accordion multi>
    <mat-expansion-panel *ngFor="let item of ticketsList" [ngStyle]="changeColor(item)">
      <mat-expansion-panel-header>
        <mat-panel-title [ngStyle]="changeTitleByPriority(item)">
          {{item?.title}}
        </mat-panel-title>
        <mat-panel-description>
          {{item?.categories}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list role="list">
        <mat-list-item>
          <span matListItemTitle>Owner</span>
          <span matListItemLine>{{item?.owner?.firstname}} {{item?.owner?.lastname}}</span>
        </mat-list-item>
        <mat-list-item>
          <span matListItemTitle>Status</span>
          <span matListItemLine>{{item?.status}}</span>
        </mat-list-item>
        <mat-list-item *ngIf="item?.priority">
          <span matListItemTitle>Priority</span>
          <span matListItemLine>{{item?.priority}}</span>
        </mat-list-item>
        <div class="buttons">
          <button mat-icon-button color="primary" (click)="editTicket(item)">
            <mat-icon class="icons">edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="showCommentsDialog(item)">
            <mat-icon class="icons">comment</mat-icon>
          </button>
        </div>
      </mat-list>
    </mat-expansion-panel>
</mat-accordion>
