<div class="profile">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Hey {{currentUser.firstname}}</mat-card-title>
      <mat-card-subtitle>Dein Profil</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos quas tempora eveniet, expedita ratione aperiam, nam voluptatibus vel omnis dolorem recusandae atque blanditiis. Eius consectetur, blanditiis earum aspernatur illo quod voluptatum iste distinctio assumenda, tempore et sapiente debitis? Cumque dolorem nisi, doloribus at maxime tempora dolor reprehenderit sint debitis consequatur mollitia quod. Nostrum non optio aliquid assumenda aspernatur temporibus ratione illo asperiores nam sint debitis maxime excepturi dicta nulla, sequi doloremque eius maiores a dolorum neque voluptatum deserunt beatae! Impedit repudiandae alias minus totam architecto eius exercitationem tenetur, omnis quis repellat voluptas sit explicabo neque consectetur maxime possimus officia consequatur animi ex quasi nihil enim ratione. Perspiciatis voluptate consequuntur optio, perferendis laborum magnam sed asperiores dignissimos sit suscipit reprehenderit, incidunt, aliquid fugit atque.
    </mat-card-content>
  </mat-card>

</div>
