.homeCard {
  margin: 2.5em;
  display: grid;
  justify-content: center;
  align-self: center;
}

.matCardHome {
  width: 90%;
  margin: 1em;
}

.title {
  font-size: 2em;
}

.cardContent {
  margin-top: 1em;
}
