<div class="homeCard">
  <div>
    <mat-card class="matCardHome">
      <mat-card-header>
        <mat-card-title class="title">Willkommen zu Midgard</mat-card-title>
        <mat-card-subtitle>Eine neue Möglichkeit Ihre Arbeitweise zu verbessern</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          <p class="cardContent">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eius velit quod ut eligendi dolores, animi beatae odit error sint eos esse eveniet perferendis dolorum praesentium tempora natus. Ullam, nisi!</p>
          <p class="cardContent">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eius velit quod ut eligendi dolores, animi beatae odit error sint eos esse eveniet perferendis dolorum praesentium tempora natus. Ullam, nisi!</p>
          <p class="cardContent">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eius velit quod ut eligendi dolores, animi beatae odit error sint eos esse eveniet perferendis dolorum praesentium tempora natus. Ullam, nisi!</p>
          <p class="cardContent">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eius velit quod ut eligendi dolores, animi beatae odit error sint eos esse eveniet perferendis dolorum praesentium tempora natus. Ullam, nisi!</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div  class="matCardHome">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="title">Weitere Infos</mat-card-title>
        <mat-card-subtitle>testen von mehreren Karten</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div>
          <p class="cardContent">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eius velit quod ut eligendi dolores, animi beatae odit error sint eos esse eveniet perferendis dolorum praesentium tempora natus. Ullam, nisi!</p>
          <p class="cardContent">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eius velit quod ut eligendi dolores, animi beatae odit error sint eos esse eveniet perferendis dolorum praesentium tempora natus. Ullam, nisi!</p>
          <p class="cardContent">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eius velit quod ut eligendi dolores, animi beatae odit error sint eos esse eveniet perferendis dolorum praesentium tempora natus. Ullam, nisi!</p>
          <p class="cardContent">Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident eius velit quod ut eligendi dolores, animi beatae odit error sint eos esse eveniet perferendis dolorum praesentium tempora natus. Ullam, nisi!</p>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
